<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="/lib/angular-1.6.1-debug.js"></script>
    <script type="text/javascript" src="/lib/angular-resource-debug.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/famtree.css" />
</head>
<body ng-app="FamtreeApp">
  <div ng-controller="PersonsCtrl as personsCtrl">
    <div>
      <p>
        <span>First name</span>
        <input type="text" ng-model="personsCtrl.newFirstName" />
      </p>
      <p>
        <span>Last name</span>
        <input type="text" ng-model="personsCtrl.newLastName" />
      </p>
      <p>
        <span>Middle name</span>
        <input type="text" ng-model="personsCtrl.newMiddleName" />
      </p>
      <button ng-click="personsCtrl.addPerson()">Add</button>
    </div>
    <br />
    <table class="persons-edit">
      <thead>
        <tr>
          <th>Last name</th>
          <th>First name</th>
          <th>Middle name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="person in personsCtrl.persons track by $index" >
          <!--<td ng-model="person.firstName"></td>
          <td ng-model="person.lastName"></td>
          <td ng-model="person.middleName"></td>-->
          <td>{{person.lastName}}</td>
          <td>{{person.firstName}}</td>
          <td>{{person.middleName}}</td>
        </tr>
      </tbody>

    </table>
  </div>

  <script type="text/javascript" src="/scripts/famtree-app.js"></script>

</body>
</html>